body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #1a1a1a;
}
a {
    text-decoration: none;
    color: #0278ff;
}
p {
    font-size: 1.1em;
}
h1 {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
    background: rgb(255,227,254);
    background: linear-gradient(144deg, rgba(255,227,254,1) 0%, rgba(204,246,255,1) 100%);
    box-shadow: 0 3px 10px #00000036;
}
@keyframes Floating {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(25px);
    }
}
.header-right {
    margin-left: 1em;
    animation: Floating 4s infinite alternate;
}
.box {
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 10em;
    background-color: #e2eeff;
    color: #0053b3;
    border: 4px solid #a6d0ff;
}
main {
    padding: 2em 0;
    margin: auto;
    max-width: 800px;
}
.main-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.main-head-left img {
    width: 5em;
    margin-right: 1em;
}
.main-head-right {
    text-align: left;
}
.courses {
    display: flex;
    justify-content: center;
    align-items: center;
}
.course {
    max-width: 400px;
    border-radius: 0.5em;
    box-shadow: 2px 2px 20px #00000052;
    margin: 1em;
    transition: 200ms;
    cursor: pointer;
}
.course:hover {
    transform: scale(1.1);
}
.course figure {
    margin: 0;
}
.course figcaption {
    border: 3px solid #94ffc4;
    background-color: #e4fff0;
    border-radius: 0.5em;
    color: #1d1d1d;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.1em;
}
.course figcaption b {
    color: #00b65b;
    font-size: 1.3em;
    margin-left: 0.1em;
}
.course figcaption u {
    font-size: 1.2em;
}
.course img {
    border-radius: 0.5em 0.5em 0 0;
    width: 100%;
}
blockquote {
    line-height: 1.5;
    background-color: #fdfdd5;
    color: #5c4c05;
    border-radius: 0.3em;
    border-left: 0.3em solid #fffb0f;
    padding: 1em;
}
.green-text {
    color: #00b65b;
}
.red-text {
    color: #fa3a3a;
}
footer {
    background-color: #f3f3f3;
    padding: 2em 0 5em;
}
.facebook {
    display: inline-block;
    border-radius: 10em;
    background-color: #c5deff;
    color: #1877f2;
    padding: 0.5em 0.7em 0.5em 0.5em;
}
.facebook-text {
    display: flex;
    align-items: center;
}
.facebook-text img {
    margin-right: 0.5em;
}

@media screen and (max-width: 870px) {
    .header-right {
        display: none;
    }
    .courses {
        flex-direction: column;
    }
    #timeLeft {
        display: block;
    }
}